.deptOne{ 
 background-color: SkyBlue;
}

.deptTwo{
  background-color: LemonChiffon;
}

.deptThree{
  background-color: MediumSeaGreen;
}

main {
    background-color:MediumOrchid;
}

.main__header{
  color: white;
 }

.intro{
   color: white;
}

.deptOne__header{
  color:white;
  font-size:1.1em;
 }

.dept__header{
  color: gray;
 }
 .deptOne__date{
  color: white;
  font-size: 1em;
  line-height: 2em;
}

 .deptOne__info{
  color:white;
  line-height: 1em;
 }

 .deptTwo__header{
  color:gray;
  font-size:1.1em;
 }

 .deptTwo__info{
  color:gray;
  line-height: 1em;
 }

 .deptTwo__date{
  color:gray;
  font-size: 1em;
  line-height: 2em;
 }

 .deptThree__header{
  color:white;
  font-size:1.1em;
 }

 .deptThree__date{
  color:white;
  font-size: 1em;
  line-height: 2em;
 }

 .deptThree__info{
  color:white;
  line-height: 1em;
 }

 .dept__header{
  text-transform: uppercase;
  font-size: 1.25em;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?8fdye');
  src:url('fonts/icomoon.eot?#iefix8fdye') format('embedded-opentype'),
  url('fonts/icomoon.woff?8fdye') format('woff'),
  url('fonts/icomoon.ttf?8fdye') format('truetype'),
  url('fonts/icomoon.svg?8fdye#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

button {
  height: 30px;
  weight: 50px;
}

.icon-mail:before {
  content: "\e75f";
  height: 10px;
}

